<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeistech.naoto.myapplication_app_contest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".sugar.SugarOrmControl"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="バカ天"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value=" sugar_example.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="APP_CONTEST_3"
            android:value="com.lifeistech.naoto.myapplication_app_contest" />

        <activity
            android:name=".activity.SolveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListGroupWordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SolveWeakActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Solve2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListWeakActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.SolveGroupActivity"></activity>
    </application>

</manifest>